/*define o estilo da pagina app.html*/
#botao-esconder-despesas, #botao-excluir-despesas,#botao-editar-despesas,#botao-excluir-receitas,
#botao-editar-receitas,#botao-esconder-receitas,#botao-desfazer-receitas,#botao-desfazer-despesas,
.absolute,#grafico,#semgrafico,#block{
  display: none;
}

#block{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 3;
}
.pop-up {
  padding: 30px;
  background-color: #28FF93;
  border-radius: 5px;
  width: 60%;
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 1;
}

