
/* define as variaveis de cores
*/

:root{
  --principal-forte:  #669acc ;
  --principal-media: #b9d9f7;
  --principal-fraca: #87CEFA;

  --secundaria-forte: #002769;
  --secundaria-media: #505f55;
  --secundaria-fraca: #869a8d;

  --alert : red ;
  --font-color: blue;
}

