/*
*   CSS estilo.css
*   define as principais classe de interface usadas
*/

html {

    height: 100%;
    /*efeito gradiente*/
    background: linear-gradient(to  left , var(--principal-media) , var(--principal-fraca) ); /* Standard syntax (must be last) */
}
body {
  padding-top:0;
  margin: 0;
  
}

.conteudo {
  display: none;
}
.conteudo {
  width:70%;
  margin:auto;
}
.conteudo2 {
  width:79%;
  height: 100%;
  margin-left: 2px;
  margin-top: 2px;
  float: left;
  background-color: var(--principal-media);
  border-radius: 5px;
}

.card{
  width: 49%;
  background-color: var(--principal-forte);
  border-radius: 5px;
}

.card.esquerda{
  float: left;
}

.card.direita{
  float: right;
}


.conteudo-interno{
  width: 80%;
  margin: auto;
  z-index: -1;

}



