
.tabela{
    border-collapse: collapse;
    width: 100%;
    color: #9e9e9e;
}
	
.table-row-despesas{
	
}
.table-row-receitas{
}
.tabela th, td {
   color: white;
    padding: 12px;

}
.tabela td{
	text-align: center;
}

.tabela tr{
	width: 100%;
}



.tabela th {
	background-color:   var(--secundaria-forte);
}
.tabela tr{
	background-color: var(--secundaria-fraca);
}

.tabela tr.selecionado {
	background-color: var(--secundaria-forte);
}

.tabela tfoot tr{
	background-color: var(--secundaria-forte);
}
.tabela tr:nth-child(even){
	background-color: var(--secundaria-media);
}